* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    position: fixed;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 10px 20px;
    z-index: 999;
}

.navitems a {
    color: white;
    text-decoration: none;
    margin: 0 14px;
}

.logo a {
    color: white;
    text-decoration: none;
}

.bars {
    display: none;
}

.sidebar {
    position: fixed;
    opacity: 0;
    width: 30%;
    right: -500px;
    top: 38px;
    height: 100vh;
    transition: 0.7s;
    background-color: gray;
    z-index: 1000;
}

.showsidebar {
    right: 0;
}

.navitems2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.navitems2 a {
    font-size: 1.3em;
    color: white;
    margin-bottom: 35px;
    text-decoration: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    margin: auto;
    padding: 0 10px;   
}
.images {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 600px;
  height: auto; /* Let height adjust */
  padding: 0 10px;
  margin: auto;
 
}
.btn{
    background-color: gray;
    color: red;
    padding: 5px 5px;
    outline: none;
    border: none;
    font-size: 1.2em;
}
.btn:hover{
    transform: scale(1.1);
}

.images img {
  display: none;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: opacity 0.5s ease-in-out;
}

.images img.active {
  display: block;
}
.dots{
    display: flex;
    justify-content: space-evenly;
    width: 100px;
    margin: auto;
}
.dot{
    width: 20px;
    height: 20px;
    background-color: gray;
    cursor: pointer;
     transition: 0.7s;
}

.dot.active{
    background-color: red;
}

.allfaqs{
    margin: auto;
    max-width: 700px;
}
.faq {
    margin: 30px 0;
    cursor: pointer;
}
.faq:hover{
    transform: scale(1.01);
}
.faq h1:hover{
    background-color: rgb(144, 238, 144);
    transition: 0.2s ease-in;
}
.show{
    display: none;
}

.faq h1{
    position: relative;
    border: 2.5px solid darkgrey;
    font-size: 1.6em;
    background-color: rgba(144, 238, 144, 0.753);
    padding: 10px 5px;
}
.faq p{
    font-size: 1.27em;
    color: black;
    background-color: darkgrey;
    border: 2.5px solid darkgrey;
    border-top: none;
    padding: 10px 5px;
}
.faq h1 span{
    position: absolute;
    right: 10px;
}

.blur {
    filter: blur(5px);
    pointer-events: none;
    user-select: none;
    transition: filter 0.3s ease;
}
.loginbox{
    position: fixed;
    top: -500px;
    left: 35%;
    width: 350px;
    height: 290px;
    background: linear-gradient(to right, #333333, #ffffff);
background: linear-gradient(to bottom, #333333, #ffffff);
background: linear-gradient(135deg, #333333, #ffffff);

    border: 5px solid black;
    border-radius: 7px;
    transition: 0.7s;
    z-index: 1000000;
}
.loginbox input{
    border: 2px solid black;
    outline: none;
    padding: 8px 20px;
    border-radius: 30px;
    margin-top: 20px;
}
.loginbox{
    display: flex;
    flex-direction: column;
 
    align-items: center;
}
.loginbox m{
    cursor: pointer;
    margin-left: 288px;
    margin-top: 15px;
}
.loginbox button{
    margin-top: 29px;
    border: 2px solid black;
    outline: none;
    padding: 5px 10px;
    border-radius: 30px;
}
.loginbox button:hover{
    border: 2px solid white;
    color: white;
    background-color: black;
}
.loginbox i{
    cursor: pointer;
    margin-left: 245px;
    margin-top: -25px;
}
.loginbox p{
    margin-top: 28px;
}
.showlogin{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loginbox2{
    position: fixed;
      display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    top: -500px;
    left: 35%;
    width: 300px;
    height: 240px;
    border: 5px solid black;
    background: linear-gradient(to right, #333333, #ffffff);
background: linear-gradient(to bottom, #333333, #ffffff);
background: linear-gradient(135deg, #333333, #ffffff);
    transition: 0.7s;
    z-index: 1040000;
}
.loginbox2 button{
    margin-top: 15px;
    margin-bottom: 15px;
    border: 2px solid black;
    outline: none;
    padding: 5px 10px;
    border-radius: 30px;
}
.loginbox2 i{
    cursor: pointer;
    margin-left: 240px;
    margin-top: -31px;
}
.loginbox2 m{
    cursor: pointer;
    margin-left: 250px;
    margin-top: 10px;
}
.loginbox2 input{
    border: 2px solid black;
    outline: none;
    padding: 5px 10px;
    border-radius: 30px;
    margin: 3px 0;
   
}
.showlogin2{
    top: 50%;
    left: 50%;
   transform: translate(-50%, -50%);
}

@media(max-width:760px) {
    .navitems {
        display: none;
    }

    .bars {
        display: block;
    }

    .sidebar {
        opacity: 1;
    }
.allfaqs{
    margin: 0 30px;
}
.faq h1{
    font-size: 1.46em;
}
.faq p{
    font-size: 1.15em;
}

}

@media(max-width:460px){
    .faq h1{
    font-size: 1.01em;
}
.faq p{
    font-size: 0.96em;
}
}
@media(max-width:380px){
    .faq h1{
        font-size: 0.90em;
    }
}